/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    background-image: url('background.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

/* Container for forms */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
}


/* Card styling */
.card {
    background: rgba(255, 255, 255, 0.6); 
    padding: 40px; 
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}


/* Image container */
.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.app-title {
    font-size: 20px;
    color: #333;
    margin: 0;
    font-weight: 500;
}

/* Form group styling */
.form-group {
    margin-bottom: 10px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    outline: none;
}

.form-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

/* Button styling */
.btn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    width: 60%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 70px;
}

.btn:hover {
    background-color: #ece8e8;
    color: #000000;
}

/* Text alignment */
.text-center {
    text-align: center;
    margin-top: 15px;
    color: #555;
}

.text-center a {
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}